*{
    padding: 0;
    margin: 0;
}
body{
background-image: url(imagenes/wallpaper/european-network-disputes-academy-16-october-2018-london--immagineheader.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.container-login2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    width: 70%;
    height: 500px;
    background-color: hsla(0, 0%, 30%, 0.8);
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.label1{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: black 3px 3px;
    margin: 0, auto;
}
.nombre{
    margin-top: 10px;
    align-items: center;
    width: 91%;  
    height: 30px;
}
.correo, .contraseña, .apellido1, .apellido2, .celular, .calle, .colonia, .municipio, .estado, .cp {
    margin-top: 10px;
    align-items: center;
    width: 45%;  
    height: 30px;
}
.container-login2 input[type="submit"]{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding-left: 123px;
    padding-right: 123px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}
.container-login2 input[type="submit"]:hover{
    cursor: pointer;
    box-shadow: 0 4px 16px rgb(255, 255, 255);
    transition: all 0.2s ease;
}
.label2, .label3{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: black 3px 3px;
   left: 0;
}